<a href="https://colab.research.google.com/github/AmenaEi/Team-11-Wotech/blob/main/Python/Class18Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Data import

In [1]:
import seaborn as sns
import pandas as pd

titanic_data = sns.load_dataset('titanic')

In [2]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

###Data investigation

In [11]:
titanic_data.isnull().sum()  #how many values is NULL (True-False)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
titanic_data.dtypes  #data types

survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
embark_town     object
alive           object
alone             bool
dtype: object

In [8]:
titanic_data.drop('deck', axis=1, inplace=True)  #delete column with a lot of NULL values

###Data Transformation

In [13]:
titanic_data['class'] = titanic_data['class'].astype(str) #modified the object from category to string

titanic_data.fillna(0, inplace=True) #replaces empty values with 0

In [14]:
titanic_data.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [15]:
titanic_data.drop(['alive', 'alone', 'adult_male'], axis=1, inplace=True)  #drop 3 columns

In [16]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,embark_town
0,0,3,male,22.0,1,0,7.2500,S,Third,man,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,woman,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,Southampton
3,1,1,female,35.0,1,0,53.1000,S,First,woman,Southampton
4,0,3,male,35.0,0,0,8.0500,S,Third,man,Southampton

In [17]:
titanic_data.drop('class', axis=1, inplace=True)

In [18]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,male,22.0,1,0,7.2500,S,man,Southampton
1,1,1,female,38.0,1,0,71.2833,C,woman,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,woman,Southampton
3,1,1,female,35.0,1,0,53.1000,S,woman,Southampton
4,0,3,male,35.0,0,0,8.0500,S,man,Southampton

In [19]:
titanic_data['sex'].unique()  #unique values

array(['male', 'female'], dtype=object)

In [20]:
titanic_data['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [21]:
# Sex column

sex_mapping = {'male': 0, 'female': 1}
titanic_data['sex'] = titanic_data['sex'].map(sex_mapping) #replace sex column and map each value in this column to the mapping

In [22]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,S,man,Southampton
1,1,1,1,38.0,1,0,71.2833,C,woman,Cherbourg
2,1,3,1,26.0,0,0,7.9250,S,woman,Southampton
3,1,1,1,35.0,1,0,53.1000,S,woman,Southampton
4,0,3,0,35.0,0,0,8.0500,S,man,Southampton

In [23]:
# Embark town column

titanic_data['embark_town'].unique() # 0 - null values that were replaced

array(['Southampton', 'Cherbourg', 'Queenstown', 0], dtype=object)

In [24]:
embark_town_mapping = {'Southampton': 1, 'Cherbourg': 2, 'Queenstown': 3, 0:0}
titanic_data['embark_town'] = titanic_data['embark_town'].map(embark_town_mapping)
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,S,man,1
1,1,1,1,38.0,1,0,71.2833,C,woman,2
2,1,3,1,26.0,0,0,7.9250,S,woman,1
3,1,1,1,35.0,1,0,53.1000,S,woman,1
4,0,3,0,35.0,0,0,8.0500,S,man,1

In [25]:
# Embarked column

titanic_data['embarked'].unique()

array(['S', 'C', 'Q', 0], dtype=object)

In [27]:
embarked_mapping = {'S': 1, 'C': 2, 'Q': 3, 0:0}
titanic_data['embarked'] = titanic_data['embarked'].map(embarked_mapping)
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1,man,1
1,1,1,1,38.0,1,0,71.2833,2,woman,2
2,1,3,1,26.0,0,0,7.9250,1,woman,1
3,1,1,1,35.0,1,0,53.1000,1,woman,1
4,0,3,0,35.0,0,0,8.0500,1,man,1

In [26]:
# Who column

titanic_data['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [28]:
who_mapping = {'man': 1, 'woman': 2, 'child': 3}
titanic_data['who'] = titanic_data['who'].map(who_mapping)
titanic_data.head()

#it also can be done differently - label encoder
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1,1,1
1,1,1,1,38.0,1,0,71.2833,2,2,2
2,1,3,1,26.0,0,0,7.9250,1,2,1
3,1,1,1,35.0,1,0,53.1000,1,2,1
4,0,3,0,35.0,0,0,8.0500,1,1,1

In [29]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int64
 8   who          891 non-null    int64
 9   embark_town  891 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

###Data modeling

In [30]:
from sklearn.model_selection import train_test_split
X = titanic_data.drop('survived', axis=1) # FEATURES - whole data frame except 'survived' column
y = titanic_data['survived'] #survived column separately

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)
#we need the random state so that if we run this line of code we get same results, the split will be the same

###Logistic regression

In [33]:
from sklearn.linear_model import LogisticRegression #import
model = LogisticRegression() #initialize
model.fit(X_train, y_train) #train

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
prediction_results = model.predict(X_test) #test
prediction_results  #0 - did not survive, 1 - person survived

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0])

### Team wirk

EASY: add DecisionTreeClassifier to titanic data predictions.

HARD: Investigate what is cross-validation and implement cross-validation on any classification model you prefer on Titanic data. Explain to each other, what do you see.

Example:

k_fold = KFold(n_splits=10, shuffle=True, random_state=42)
accuracy_scores = cross_val_score(model_knn_cv, X, y, cv=k_fold, scoring='accuracy')

In [37]:
from sklearn.tree import DecisionTreeClassifier

tree_clf = DecisionTreeClassifier(random_state=42)
tree_clf.fit(X_train, y_train)
predict_tree = tree_clf.predict(X_test)
predict_tree

array([1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0])

1. tree_clf = DecisionTreeClassifier(random_state=42)

* What's happening: This line is creating a new "Decision Tree Classifier" model. Think of it like building a decision-making tree that helps you decide whether someone survives or not based on different factors (like age, ticket class, etc.).

* random_state=42: This is like setting a specific seed so that every time you build this tree, it grows in the same way. It's a bit like planting the same type of tree in the same spot every timeitll always look the same.

2. tree_clf.fit(X_train, y_train)

* What's happening: Here, the tree is being trained using the data. The X_train is the data with all the information about the passengers (like age, class, etc.), and y_train is the answer key (whether they survived or not). The tree uses this information to learn patterns and rules to make decisions.

* fit: This means "train the model." The tree is learning how to make decisions based on the training data.

3. predict_tree = tree_clf.predict(X_test)

* What's happening: Now that the tree has learned how to make decisions, this line uses the tree to predict what happens to a new set of passengers (X_test) who weren't part of the training. The tree looks at each passenger's information and decides whether they survived or not.
* predict: This means "make predictions" using the tree that was just trained.

4. predict_tree

What's happening: Finally, this stores the predictions made by the tree for the new passengers in predict_tree. You could print this or check how many the tree got right or wrong by comparing it with the real outcomes.

The result you see is an array of predictions made by the Decision Tree model on the test data (X_test). Each number in the array represents the model's prediction for whether a passenger survived or not:

1: This means the model predicts that the passenger survived.

0: This means the model predicts that the passenger did not survive.

For example, if the array starts with [1, 0, 1, 1, 0, ...], it means:

* The first passenger in the test data is predicted to have survived (1).
* The second passenger is predicted not to have survived (0).
* The third passenger is predicted to have survived (1).

And so on.


This array is useful because you can compare these predictions to the actual outcomes (whether each passenger really survived or not) to see how accurate the model is.